<%- model_class = App -%>
<div class="page-header">
  <h1><%=t '.title', :default => "USC Apps!" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= "Posted on" %></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= link_to app.name, app %></td>
        <td><%= app.description %></td>
        <td><%= app.rating %></td>
        <td><%= app.ratings %></td>
        <td><%= app.user_id %></td>
        <td><%= (app.created_at).to_s[0,10] %></td>
        <td>
          <%= link_to t('.edit', :default => "Edit!"),
                      edit_app_path(app), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_app_path,
            :class => 'btn btn-primary' %>
